<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Solar test rig{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% block head %}{% endblock %}
</head>
<body class="w3-light-grey">
{% block body %}{% endblock %}
</body>
</html>
