{% extends "base.html" %}
{% block body %}
<div class="w3-bar w3-card w3-amber">
    <div class="w3-bar-item w3-button w3-orange w3-xlarge"><span class="material-icons">&#xe9ba;</span></div>
    <div class="w3-bar-item w3-button w3-orange w3-xlarge"><span class="material-icons">&#xe8b8;</span></div>
    <div class="w3-bar-item w3-button w3-orange w3-xlarge w3-right"><span class="material-icons">&#xef3c;</span></div>
    <div class="w3-bar-item w3-button w3-orange w3-xlarge w3-right"><span class="material-icons">&#xe8b6;</span></div>
</div>
<div class="w3-content">
{% block content %}{% endblock %}
</div>
{% endblock %}