{% extends "base_with_nav.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<a href="{{url_for('new_trial') }}" class="w3-panel w3-card w3-button w3-section w3-left-align w3-white" style="display: block;">
  <p><strong>Neuer Versuch</strong></p>
  <p>Neuen Versuch starten.</p>
</a>
<a href="{{url_for('list_trials') }}" class="w3-panel w3-card w3-button w3-section w3-left-align w3-white" style="display: block;">
  <p><strong>Versuche Auflisten</strong></p>
  <p>Alle bisherigen Versuche anzeigen und durchsuchen.</p>
</a>
<a href="{{url_for('settings') }}" class="w3-panel w3-card w3-button w3-section w3-left-align w3-white" style="display: block;">
  <p><strong>Einstellungen</strong></p>
  <p>Persönliche Einstellungen anzeigen und ändern.</p>
</a>
<a href="{{url_for('logout') }}" class="w3-panel w3-card w3-button w3-section w3-left-align w3-white" style="display: block;">
  <p><strong>Ausloggen</strong></p>
  <p>Ausloggen.</p>
</a>
{% endblock %}
