{% extends "base_with_nav.html" %}
{% block content %}
{% for trial in trials %}
  {% if loop.first or (trial.date.year != loop.previtem.date.year or trial.date.month != loop.previtem.date.month or trial.date.day != loop.previtem.date.day) %}
  <h3 class="w3-text-orange">{{ trial.date.strftime('%d.%m.%Y') }}</h3>
  {% endif %}
  <a href="{{ url_for('show_trial', trial_id=trial.id) }}" class="w3-button w3-bar w3-card w3-section w3-white" style="display: block; height: 80px; padding: 0px; text-align: left;">
    <img src="charts/demo_thumbnail.png" class="w3-bar-item" style="height: 100%">
    <div class="w3-bar-item">
      <strong>{{ trial.short_description }}</strong><br>
      <em>{{ trial.date.strftime('%d.%m.%Y %H:%M:%S')}} – {{ trial.user.full_name }}</em><br>
      U<sub>max</sub> = {{ trial.u_max }} V<br>
      I<sub>max</sub> = {{ trial.i_max }} A
    </div>
    <div class="w3-bar-item w3-text-red w3-right" style="height: 100%; padding-top: 20px"><span class="material-icons" style="font-size: 40px">&#xe872;</span></div>
  </a>
{% endfor %}
{% endblock %}