{% extends "base.html" %}
{% block body %}
<div class="w3-container w3-amber">
  <h2 class="w3-center-align" style="width: 100%;">Login</h2>
  <form action="{{ url_for('login') }}" method="POST">
    <p><strong>Username: </strong><input type="text" name="login_name"></p>
    <p><strong>Password:</strong><input type="password" name="password"></p>
    <p><input type="submit" value="Login"></p>
  </form>
</div>
{% endblock %}