{% extends "base_with_nav.html" %}
{% block content %}
<div class="w3-container w3-card w3-red w3-section">
<div class="w3-container w3-card w3-red w3-section"></div>
  <h3>Achtung</h3>
  <p>Kondensator noch geladen, Versuchsstand nicht bereit. Bitte warten Sie, bis der Kondensator vollständig entladen ist. Diese Nachricht wird dann automatisch verschwinden.</p>
</div>

<div class="w3-container w3-card w3-section w3-white">
  <form action="{{ url_for('new_trial') }}" method="POST">
  <h2 class="w3-container">Neuer Versuch</h2>
  <ul class="w3-ul">
  <li class="w3-cell-row">
    <div class="w3-cell w3-container w3-right-align w3-cell-middle" style="width: 33%;"><strong>Kurzbeschreibung</strong></div>
    <div class="w3-cell"><input type="text" name="short_description" style="width: 100%;"></div>
  </li>
  <li class="w3-cell-row">
    <div class="w3-cell w3-container w3-right-align w3-cell-middle" style="width: 33%;"><strong>Anmerkung</strong></div>
    <!-- <div class="w3-cell"><input type="text" style="width: 100%;"></div> -->
    <textarea rows="3" name="long_description" style="width: 100%;"></textarea>
  </li>
  <li class="w3-cell-row">
    <div class="w3-cell w3-container w3-right-align w3-cell-middl" style="width: 33%;">
    <p><strong>Versuchszeit</strong></p>
    <p>Zeitraum der Messwerterfassung ab Freischaltung der Solarzelle.</p>
    </div>
    <div class="w3-cell w3-cell-middle"><input type="number" name="duration" value="10" max="20" step="0.1"> Sekunden</div>
  </li>
  <li class="w3-cell-row">
    <div class="w3-cell w3-container w3-right-align w3-cell-middle" style="width: 33%;">
    <p><strong>Vorlaufzeit</strong></p>
    <p>Messwerterfassung vor Freischaltung der Solarzelle.</p>
    </div>
    <div class="w3-cell w3-cell-middle"><input type="number" name="ramp_up_time" value="2" max="5" step="0.1"> Sekunden</div>
  </li>
  </ul>
  <div class="w3-panel">
  <input type="submit"  value="Versuch starten" class="w3-button w3-orange w3-round w3-right">
  </div>
  </form>
</div>
{% endblock %}