{% extends "base_with_nav.html" %}
{% block content %}
<div class="w3-container w3-card w3-section w3-white">
  <h3>{{ trial.short_description }}</h3>
  <p><strong>Datum:</strong> {{ trial.date.strftime('%d.%m.%Y %H:%M:%S') }}</p>
  <p><strong>Bediener:</strong> {{ trial.user.full_name }}</p>
  <p><strong>Bemerkung:</strong> {{ trial.long_description }}</p>
  <p><strong>Versuchszeit:</strong> {{ trial.duration }} Sekunden</p>
  <p><strong>U<sub>max</sub>:</strong> {{ trial.u_max }} V</p>
  <p><strong>I<sub>max</sub>:</strong> {{ trial.i_max }} A</p>
  <p><strong>P<sub>el</sub>:</strong> ### W</p>
  <p><strong>Download</strong></p>
  <a href="#" class="w3-button w3-orange w3-round" style="margin: 4px;">Daten xls</a>
  <a href="#" class="w3-button w3-orange w3-round" style="margin: 4px;">Daten csv</a>
  <a href="#" class="w3-button w3-orange w3-round" style="margin: 4px;">Diagramm 300 dpi</a>
  <a href="#" class="w3-button w3-orange w3-round" style="margin: 4px;">Diagramm 600 dpi</a>
  <a href="#" class="w3-button w3-orange w3-round" style="margin: 4px;">Bericht txt</a>
  <a href="#" class="w3-button w3-orange w3-round" style="margin: 4px;">Bericht pdf</a>
  <p><strong>Diagramm</strong></p>
  <img src="#" style="width: 100%">
</div>
{% endblock %}